# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

In [1]:
import pandas as pd
#!conda install -c conda-forge lxml --yes

In [2]:
tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M") #rading from webpage

In [3]:
df = tables[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [4]:
df1=df[df['Borough']!='Not assigned']
df1.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [5]:
df1[df1['Postal Code']=='M5A']

  Postal Code           Borough               Neighborhood
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 2 to 178
Data columns (total 3 columns):
Postal Code     103 non-null object
Borough         103 non-null object
Neighborhood    103 non-null object
dtypes: object(3)
memory usage: 3.2+ KB

In [7]:
df1[df1['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [8]:
df1['Neighborhood'].isnull().sum()

0

In [9]:
df1.shape

(103, 3)

# Question 2

In [10]:
'''import geocoder # import geocoder
# initialize your variable to None
lat_lng_coords = None
# loop until you get the coordinates
while(lat_lng_coords is None):
    for code in df1['Postal Code']:
        print(code)
        g = geocoder.google('{}, Toronto, Ontario'.format(code))
        print(g.latlng)
        lat_lng_coords = g.latlng
latitude = lat_lng_coords[0]
print(longitude = lat_lng_coords[1])'''

"import geocoder # import geocoder\n# initialize your variable to None\nlat_lng_coords = None\n# loop until you get the coordinates\nwhile(lat_lng_coords is None):\n    for code in df1['Postal Code']:\n        print(code)\n        g = geocoder.google('{}, Toronto, Ontario'.format(code))\n        print(g.latlng)\n        lat_lng_coords = g.latlng\nlatitude = lat_lng_coords[0]\nprint(longitude = lat_lng_coords[1])"

In [11]:
df2=pd.read_csv("Geospatial_Coordinates.csv")
df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [14]:
df_new = pd.merge(df1, df2, on='Postal Code', how='inner')
df_new.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [15]:
df_new.shape

(103, 5)

In [16]:
df_new.isnull().sum()

Postal Code     0
Borough         0
Neighborhood    0
Latitude        0
Longitude       0
dtype: int64